## set-
unique elements are obtained thereby removing the redundancy

In [3]:
my_set_1={1,2,3,5,9,1,4}

In [4]:
my_set_1

{1, 2, 3, 4, 5, 9}

In [5]:
my_set_2={12,5,78,36,4}

In [6]:
my_set_1.union(my_set_2)

{1, 2, 3, 4, 5, 9, 12, 36, 78}

In [7]:
my_set_1.intersection(my_set_2)

{4, 5}

In [8]:
my_set_1.add(56)

In [9]:
my_set_1

{1, 2, 3, 4, 5, 9, 56}

In [13]:
my_set_3=my_set_1.copy()

In [14]:
my_set_3

{1, 2, 3, 4, 5, 9, 56}

In [15]:
my_set_3.difference(my_set_1)

set()

In [16]:
my_set_3.difference(my_set_2)

{1, 2, 3, 9, 56}

In [17]:
my_set_3.discard(56)

In [18]:
my_set_3

{1, 2, 3, 4, 5, 9}

In [19]:
my_set_1.difference_update()

In [20]:
my_set_1

{1, 2, 3, 4, 5, 9, 56}

## dictionary

In [3]:
my_dict_1={'name':'John', 'Age':25, 'Location':'NY' }

In [23]:
type(my_dict_1)

dict

In [24]:
my_dict_1['name']

'John'

In [26]:
my_dict_1.pop('Age')

25

In [27]:
my_dict_2={'Name':'Rajnikanth', 'Age':25, "Prog_languages":['python', 'scala', 'java']}

In [28]:
commute=['rail','airways','roadways'] ##list

In [29]:
bin_code=( 001, 100, 010, 000 )  ##tuple

In [30]:
user_id = {1 , 12 , 32, 1} ##set

In [2]:
my_dict_4 = {1:'principal', 2:'teacher', 3:'class representative' }    ##dictionary

difference between #### list and

In [3]:
my_dict_4[2]

'teacher'

In [4]:
my_dict_4.fromkeys

In [5]:
n=[4,5,6]

my_dict_4.fromkeys(n,'null')

{4: 'null', 5: 'null', 6: 'null'}

In [4]:
my_dict_4

{1: 'principal', 2: 'teacher', 3: 'class representative'}

In [12]:
my_dict_006=my_dict_4.fromkeys(my_dict_4,n)
my_dict_006

{1: [4, 5, 6], 2: [4, 5, 6], 3: [4, 5, 6]}

In [15]:
my_dict_007={}
my_dict_007.fromkeys(n,my_dict_4)

{4: {1: 'principal', 2: 'teacher', 3: 'class representative'},
 5: {1: 'principal', 2: 'teacher', 3: 'class representative'},
 6: {1: 'principal', 2: 'teacher', 3: 'class representative'}}

In [16]:
my_dict_007

{}

now let's try exploring more with 'fromkeys()' as trials on lists

In [17]:
m&m=['blue','red','yellow','green']

SyntaxError: can't assign to operator (<ipython-input-17-c47c8a63ab53>, line 1)

In [18]:
m_n_m = ['blue','red','yellow','green'] ## list of colours present in m&m

In [20]:
 
qty_per_pack = m_n_m.fromkeys(range(1,4), m_n_m)

AttributeError: 'list' object has no attribute 'fromkeys'

In [24]:
qty_per_pack = {}.fromkeys(range(3),m_n_m)
len(qty_per_pack)

3

### So  LIST 's  have no   'fromkeys()' , unlike the dictionaries .
####   The dictionary on which the fromkeys function is applied does not alter its innate structure and values.
####    This function can be used in assigning same value to the several keys that are in a list

Also on applying length function ,this takes into consideration the size of the first variable

In [25]:
qty_per_pack

{0: ['blue', 'red', 'yellow', 'green'],
 1: ['blue', 'red', 'yellow', 'green'],
 2: ['blue', 'red', 'yellow', 'green']}

In [26]:
qty_per_pack.pop(1)

['blue', 'red', 'yellow', 'green']

In [27]:
qty_per_pack

{0: ['blue', 'red', 'yellow', 'green'], 2: ['blue', 'red', 'yellow', 'green']}

In [29]:
qty_per_pack.popitem(2)

TypeError: popitem() takes no arguments (1 given)

## pop(argument)
pop takes an argument .
It displays the value of the key that gets removed.

In [30]:
qty_per_pack.popitem()

(0, ['blue', 'red', 'yellow', 'green'])

## popitem()
It takes no arguments. It deletes the first key along with the values , and displays both of them.

In [31]:
qty_per_pack.keys

In [33]:
qty_per_pack.keys()

[2]

## keys
takes no arguments .
displays only the keys of the dictionary in a list .

In [34]:
qty_per_pack

{2: ['blue', 'red', 'yellow', 'green']}

In [35]:
qty_per_pack.itervalues()

In [38]:
qty_per_pack.itervalues()

## itervalues
returns an iterator . In this an adddition of any value to the dictionary returns an error .
For which case it demands the need of  item().

In [40]:
my_dict_4.clear()

In [41]:
my_dict_4

{}

## CLEAR()
Clears all the contents of the dictionary

In [43]:
my_dict_4=my_dict_007.copy()

In [44]:
my_dict_4

{}

In [46]:
my_dict_007['name']= 'John Martin'

In [50]:
my_dict_007['age','address','height','designation']=[ 27, 'seminary', "5'10", 'CEO']

In [51]:
my_dict_4 = my_dict_007.copy()

In [52]:
my_dict_4

{'name': 'John Martin',
 ('age', 'address', 'height', 'designation'): [27, 'seminary', "5'10", 'CEO']}

## COPY()
It is used to copy the values from one dictionary to the other

In [54]:
my_dict_4[1][2]

KeyError: 1

In [62]:
my_dict_4

{'name': 'John Martin',
 ('age', 'address', 'height', 'designation'): [27, 'seminary', "5'10", 'CEO']}

In [63]:
print my_dict_4[1]

KeyError: 1

In [64]:
my_dict_4['name']

'John Martin'

In [66]:
my_dict_4[('age','address','height','designation ')]['address']

KeyError: ('age', 'address', 'height', 'designation ')

In [9]:
n = range(0,6)
my_dict_5 = {}
my_dict_64 = my_dict_5.fromkeys(n,range(25,89))

In [5]:
n

[0, 1, 2, 3, 4, 5]

In [8]:
my_dict_64

{0: [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88],
 1: [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88],
 2: [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88],
 3: [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88],
 4: [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88],
 5: [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88]}

## HAS_KEY
returns a boolean value by checking if the passed key

In [67]:
my_dict_4.has_key("height")

False

In [68]:
my_dict_4.has_key("name")

True

## items()
it returns a list of tuple pairs of  key and value

In [5]:
my_dict_1.items()

[('Age', 25), ('name', 'John'), ('Location', 'NY')]

In [6]:
my_dict_1.iteritems()

In [11]:
a=[]
b=[]
for i,j in my_dict_1.iteritems():
    a.append(i)
    b.extend(j)
print a,b

TypeError: 'int' object is not iterable

In [13]:
a=[]
b=[]
for i,j in my_dict_1.iteritems():
    a.append(i)
    b.append(j)
print a,b

['Age', 'name', 'Location'] [25, 'John', 'NY']

## tuples

In [15]:
a=(1,2,3,45,6,789,78)

In [16]:
type(a)

tuple

In [20]:
a.count(2)

1

## count()
finds the frequency of the values in the tuple

In [22]:
a.index(3)

2

## index 
it is used to find the location or position of the entered or passed value in the given tuple

In [23]:
b=(4,5,8,9,75,6)

In [29]:
max(b)

75

In [30]:
min(b)

4

In [36]:
df= (max(b)-min(b))
print df

71

In [37]:
b[0:]

(4, 5, 8, 9, 75, 6)

In [49]:
b[2:4]=[12,25]

TypeError: 'tuple' object does not support item assignment

In [38]:
list_b=list(b)

In [39]:
list_b

[4, 5, 8, 9, 75, 6]

In [45]:
list_b*2

[4, 5, 8, 9, 75, 6, 4, 5, 8, 9, 75, 6]

In [48]:
(list_b*2).count(6)

2

In [46]:
c=a+b

In [47]:
c

(1, 2, 3, 45, 6, 789, 78, 4, 5, 8, 9, 75, 6)

so the tuples get concatenated

In [27]:
c= a*b

TypeError: can't multiply sequence by non-int of type 'tuple'

so cant perform arithmatic calculations using the tuple type

##  observed differences between tuple and list

List is mutable where as tuple is immutable (i.e tuples cannot be modified whereas lists can be ).
List has the options of being  sliced and  edited  .
Both of the lists and tuples can be interchanged amongst the types.
tuple doesn't support object assignment , whereas list does.

## list and set 
set takes only unique values.

In [50]:
my_set_1={1,2,3,4,5,6,4546,2,32,36,1,2,9,6,3}

In [51]:
type(my_set_1)

set

In [52]:
my_set_1

{1, 2, 3, 4, 5, 6, 9, 32, 36, 4546}

In [53]:
len(my_set_1)

10

In [55]:
my_list_from_set=list(my_set_1)
my_list_from_set

[32, 1, 2, 3, 4, 5, 6, 9, 4546, 36]

In [56]:
my_set_1.add(23)

In [57]:
my_set_1

{1, 2, 3, 4, 5, 6, 9, 23, 32, 36, 4546}

In [58]:
len(my_set_1)

11

In [59]:
my_set_2=my_set_1.copy()

In [60]:
my_set_2

{1, 2, 3, 4, 5, 6, 9, 23, 32, 36, 4546}

In [61]:
my_set_1.clear()

In [62]:
my_set_1

set()

In [64]:
my_set_2.discard(23)

In [66]:
my_set_1=my_set_2+{23}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [83]:
my_set_1=my_set_2.copy()

In [84]:
my_set_1.add(54)

In [69]:
my_set_1.difference(my_set_2)

{54}

In [85]:
my_set_2.difference_update(my_set_1)

In [86]:
my_set_2

set()

In [79]:
my_set_1

{54}

In [75]:
my_set_2.difference
my_set_2

{1, 2, 3, 4, 5, 6, 9, 32, 36, 4546}

### idea to count the occurance of every element  of a tuple

In [26]:
my_set_24 = (20,312,45,45,789)
p=len(my_set_24)
n=[my_set_24.count(my_set_24[0:])]
print n,p

[0] 5

In [20]:
leo = ['courageous','determined' ,'brave-hearted']
str(leo).split('e')

["['courag", "ous', 'd", 't', 'rmin', "d', 'brav", '-h', 'art', "d']"]

In [28]:
sett = { 25, 45, 256, 47, {'ram', 'rom' }, 78}

TypeError: unhashable type: 'set'

In [30]:
sett = {25, 45, 256, 47, 78}

In [31]:
sett.isdisjoint([4,57])

True

In [32]:
sett.isdisjoint({25,78,69,021})

False

In [33]:
sett.isdisjoint((8,9,7,25))

False

In [34]:
sett.symmetric_difference({})

{25, 45, 47, 78, 256}

In [36]:
AB = {'a', 'b', 'c', 'd'}
BC = {'c', 'd', 'e' }
C = {}

print AB.symmetric_difference(BC)
print(BC.symmetric_difference(AB))

print AB.symmetric_difference(C)
print(BC.symmetric_difference(C))

set(['a', 'b', 'e'])
set(['a', 'b', 'e'])
set(['a', 'c', 'b', 'd'])
set(['c', 'e', 'd'])

In [38]:
print sett.discard('b')

None

In [40]:
sett.discard(25)
print sett

set([256, 45, 78, 47])

In [41]:
numbers = {2, 3, 5, 4}

# Returns None
# Meaning, absence of a return value 
print(numbers.discard(3))

print('numbers =', numbers)

None
('numbers =', set([2, 4, 5]))

In [42]:
sett.issubset ({})

False

In [46]:
sett.issubset(sett)

True

In [47]:
N ={'a', 'b', 'c', 'd'}

print('Return Value is', N.pop())
print('N = ', N)

('Return Value is', 'a')
('N = ', set(['c', 'b', 'd']))