# Data Types

### int

In [1]:
my_int_var = 10

In [2]:
print my_int_var

10

In [3]:
my_int_var_2 = 1000

In [4]:
print my_int_var_2

1000

In [6]:
print type(my_int_var)

<type 'int'>

In [7]:
print(type(my_int_var))

<type 'int'>

## float

In [8]:
my_float = 20.2

In [9]:
print (my_float)

20.2

In [11]:
print my_float
print(type(my_float))

20.2
<type 'float'>

## string

In [12]:
my_string = 'session 2'

In [13]:
print(my_string)

session 2

In [14]:
type(my_string)

str

In [15]:
print(type(my_string))

<type 'str'>

## bool

In [16]:
 5>4

True

In [17]:
20>(4*5)

False

In [18]:
print (5>4)

True

In [19]:
print (type(89.21/54>52))

<type 'bool'>

## list

In [2]:
my_list_1 = ["a","b","c","d","a","b"]

In [2]:
my_list_1

['a', 'b', 'c', 'd', 'a', 'b']

In [3]:
my_list_1[0]

'a'

In [4]:
my_list_1[-1]

'b'

In [5]:
my_list_1[5]

'b'

In [6]:
my_list_1[-3]

'd'

In [7]:
my_list_1[1:4]

['b', 'c', 'd']

In [8]:
my_list_1[2:]

['c', 'd', 'a', 'b']

In [9]:
my_list_1[4]

'a'

In [10]:
my_list_1[4]='e'

In [11]:
my_list_1

['a', 'b', 'c', 'd', 'e', 'b']

In [12]:
my_list_1.append('g')

In [3]:
my_list_1

['a', 'b', 'c', 'd', 'a', 'b']

In [15]:
my_list_2=['h','i','l']

In [16]:
my_list_1+my_list_2

['a', 'b', 'c', 'd', 'e', 'b', 'g', 'h', 'i', 'l']

In [17]:
my_list_1

['a', 'b', 'c', 'd', 'e', 'b', 'g']

In [18]:
my_list_1.extend(my_list_2)

In [4]:
my_list_1

['a', 'b', 'c', 'd', 'a', 'b']

## pop - removes the last element from the list

In [5]:
my_list_1.pop()

'b'

In [6]:
my_list_1

['a', 'b', 'c', 'd', 'a']

## sort

###  arranges in the ascending order of the numerical value / gices an alphabetical display of the list of charatcters

In [7]:
my_list_1.sort()

In [8]:
my_list_1

['a', 'a', 'b', 'c', 'd']

## insert -   (position , value)  takes these arguments and inserts at the place specified

In [10]:
my_list_1.insert(2,3)

In [11]:
my_list_1

['a', 'a', 3, 'b', 'c', 'd']

### reverse -

reversal display of the elements in the list implemented on.

In [12]:
my_list_1.reverse()

In [13]:
my_list_1

['d', 'c', 'b', 3, 'a', 'a']

In [11]:
my_list_1

['a', 'b', 'c', 'd', 'a', 'b']

In [14]:
my_list_4=['a', 'b', 'c', 'd', 'a', 'b']

In [15]:
my_list_4 + my_list_1

['a', 'b', 'c', 'd', 'a', 'b', 'd', 'c', 'b', 3, 'a', 'a']

In [22]:
my_list_1[::-1]

['a', 'b', 'c', 'd', 'e', 'b', 'g', 'h', 'i', 'l']

In [24]:
my_list_1.count('b')

2

In [7]:
my_list_2=[100,200,300,40,50,60.23]

In [26]:
type(my_list_2)

list

In [29]:
sum(my_list_2)

750.23

In [14]:
my_list_28=[25,366,5,8,9,7,[458,[89,12],42,02]]

In [31]:
my_list_28[6][3]

2

In [20]:
len(my_list_28[6])

4

In [21]:
my_list_23=['a','b']

In [24]:
zip(my_list_23,my_list_2)

[('a', 100), ('b', 200)]

## TUPLE     ____   it is unchangable

In [16]:
my_tuple_1=(1,2,3,4,58)

In [34]:
my_tuple_1[-1]

58

## counts the frequency of an element fom a given list or tuple

In [35]:
my_tuple_1.count(4)

1

In [4]:
my_tuple_1.count(2)

1

In [5]:
my_tuple_1.index(2)

1

## returns the index of the element passed

In [17]:
my_tuple_1

(1, 2, 3, 4, 58)

In [18]:
my_tuple_1[3:]

(4, 58)

In [20]:
m=my_tuple_1+my_tuple_1

In [21]:
m

(1, 2, 3, 4, 58, 1, 2, 3, 4, 58)

In [29]:
type(m)

tuple

In [22]:
sum(m)

136

In [25]:
sum(m)/9

15

In [26]:
my_tuple_1

(1, 2, 3, 4, 58)

## parsing from tuple type to list and vice-versa

In [39]:
list(m)

[1, 2, 3, 4, 58, 1, 2, 3, 4, 58]

In [40]:
type(m)

tuple

In [35]:
tuple(m)

(1, 2, 3, 4, 58, 1, 2, 3, 4, 58)

In [42]:
print(type(m))

<type 'tuple'>