# Data Types

### int

In [1]:
my_int_var = 10

In [2]:
print my_int_var

10

In [3]:
my_int_var_2 = 1000

In [4]:
print my_int_var_2

1000

In [6]:
print type(my_int_var)

<type 'int'>

In [7]:
print(type(my_int_var))

<type 'int'>

## float

In [8]:
my_float = 20.2

In [9]:
print (my_float)

20.2

In [11]:
print my_float
print(type(my_float))

20.2
<type 'float'>

## string

In [12]:
my_string = 'session 2'

In [13]:
print(my_string)

session 2

In [14]:
type(my_string)

str

In [15]:
print(type(my_string))

<type 'str'>

## bool

In [16]:
 5>4

True

In [17]:
20>(4*5)

False

In [18]:
print (5>4)

True

In [19]:
print (type(89.21/54>52))

<type 'bool'>